/* DEFAULTS
----------------------------------------------------------*/
body { margin: 0;padding: 0; }
.MarginBoth { margin: 0 auto; width:  1000px;padding: 10px 10px;}
.Title { color: orange; }
.Red { color: red; }

/* Header */
.Header { background-color: #000;color: #fff; }
.Header_All { width: 980px; overflow: hidden; }
.Header_Logo { width: 200px; float: left; }
.Header_Items { width: 780px;float: right;  }
.Header_CompanyName {  }
.Header_Links {  }
.Header_LoginLink { cursor: pointer;border: none; background-color: transparent;color: white;text-decoration: underline; }
.Header_ItemsTop {  }
.Header_ItemsBottom {  }
.Header_Login { display: none;background-color: #fff;color: #000; padding: 10px; }

/* Menu */
.Menu { width: 200px;position: relative;text-align: left;background-color: cornsilk; }
.MenuItemSecond{ display:none; position:absolute; z-index:2; left:200px; top:1px; width:200px; background-color:bisque; }
.MenuItemThird { display:none; position:absolute; z-index:3; left:200px; top:1px; width:200px; background-color:azure; }
.Hover { display: block; }

/* MainPageHeader */
.MainPageHeader { width: 980px; overflow:hidden;color: black; }
.MainPageHeader_Left { width: 200px; float:left; }
/* .MainPageHeader_Right { width: 780px; } */

/* Center */
.Center { background-color: grey; }

/* Footer */
.Footer { background-color: #000; color: #fff; }

/* Registration */
.Registration {   }
.Registration_Info {   }

/* Extertnal Controls */
.apple_overlay { display:none; background-image:url('white.png'); width:250px; padding:35px; }
.apple_overlay .close { background-image:url('close.png'); position:absolute; right:-15px; top:-15px;
	cursor:pointer; height:35px; width:35px; }

