/* DEFAULTS
----------------------------------------------------------*/
body { margin: 0;padding: 0; }
.MarginBoth { margin: 0 auto; width:  1000px;padding: 10px 10px;}
.Title { color: orange; }
.Red { color: red; }

/* Header */
.Header { background-color: #000;color: #fff; }
.Header_All { width: 980px; overflow: hidden; }
.Header_Logo { width: 200px; float: left; }
.Header_Items { width: 780px;float: right;  }
.Header_CompanyName {  }
.Header_Links {  }
.Header_LoginLink { cursor: pointer;border: none; background-color: transparent;color: white;text-decoration: underline; }
.Header_ItemsTop {  }
.Header_ItemsBottom {  }
.Header_Login { display: none;background-color: #fff;color: #000; padding: 10px; }

/* Menu */
.Menu { width: 200px;position: relative; text-align: left;background-color: green; }
.MenuItemSecond{ display:none; position:absolute; z-index:2; left:200px; top:1px; width:200px; background-color:bisque; }
.MenuItemThird { display:none; position:absolute; z-index:3; left:200px; top:1px; width:200px; background-color:azure; }
.Hover { display: block; }

/* Slider */
.Slider_Left  { float: left; width:55px; text-align:center; background-color:darkseagreen; cursor:pointer; }
.Slider_Left:hover { background-color:blanchedalmond; }
.Slider_Right { float: left; width:55px; text-align: center; background-color:darkseagreen; cursor:pointer; }
.Slider_Right:hover { background-color:blanchedalmond; }
.Slider { float:left; width: 670px; background-color:white; }
.Slider li { display:none; list-style-type: none; float:left; width:150px; }
.SliderItem {}
.HiddenLeft { display:none; }
.HiddenRight { display:none; }

/* MainPageHeader */
.MainPageHeader { width: 980px; overflow:hidden;color: black; }
.MainPageHeader_Left { width: 200px; float:left; }
/* .MainPageHeader_Right { width: 780px; } */

/* Center */
.Center { background-color: grey; }
.Center_Left { width: 200px;float: left; }
.Center_Right { width: 780px; overflow: hidden; min-height: 300px; }
.CenterPad { padding-left: 10px;padding-right: 10px; }

/* Footer */
.Footer { background-color: #000; color: #fff; }

/* Registration */
.Registration {   }
.Registration_Info {   }

/* Extertnal Controls */
.apple_overlay { display:none; background-image:url('white.png'); width:250px; padding:35px; }
.apple_overlay .close { background-image:url('close.png'); position:absolute; right:-15px; top:-15px;
	cursor:pointer; height:35px; width:35px; }

/* Categories */
.ProductList_Table { width: 750px;padding: 0;margin: 0;border: 0;vertical-align: top; }
.ProductList_Table tr td { vertical-align: top;text-align: left; }