body { margin:0; padding:0; background:#ededed url(../../images/main_background.gif) repeat-y center top; }

h1 {
font-size:16px;
padding:10px 0;
color:#008ec3;
}

.Admin_Header {height:50px; width:1000px; margin:0 auto; background-color:#0f5a9a; color:White;} 
.Admin_HeaderCompanyName {float:left; padding:13px 0 0 13px; font-size:18px;}
    .Admin_HeaderCompanyName span {
        text-transform:uppercase;
        font-weight:bold;
        }
.Admin_HeaderCenter {float:left;}
.Admin_HeaderToolbar {float:right; padding:12px 0 0 0;}
.Admin_HeaderToolbar a {color:#151515; font-size:14px; text-decoration:none; vertical-align:middle; display:inline-block;}
    .Admin_HeaderToolbar span {margin-right:22px;}

.Admin_Main {width:1000px; margin:0 auto; }

.Admin_Menu { float:left; width:205px; padding:15px 10px 0;}
.Admin_Center { margin-left:225px; padding:0 0 0 10px;}
.Admin_MenuItemEmpty { background-color:transparent;}
.Admin_Menu a {color:white; text-decoration:none; }

    /* menu */
*, * focus { outline: none; margin: 0; padding: 0; }
.admin_Menu h1 { font: 4em normal Georgia, 'Times New Roman', Times, serif;	text-align:center;	padding: 20px 0; color: #aaa; }
.admin_Menu h1 span { color: #666; }
.admin_Menu h1 small{ font: 0.3em normal Verdana, Arial, Helvetica, sans-serif;	text-transform:uppercase; letter-spacing: 0.5em; display: block; color: #666; }
 .admin_Menu h2.acc_trigger  
 {
     padding: 5px 10px 6px;  
     font-size:14px;
     color:#151515;	
     font-weight: normal;
     font-style:italic;
     border-top:solid white 1px;
     background:#dadada url(../../images/arrow_linearpol.png) no-repeat right top;
     }
.admin_Menu h2.acc_trigger a {	color: #151515; text-decoration: none;	display: block; }
.admin_Menu h2.acc_trigger a:hover {text-decoration:underline;}
.admin_Menu h2.active {background:#dadada url(../../images/arrow_linearpolor.png) no-repeat right top;}
.admin_Menu .acc_container { padding:5px 5px 5px 10px; overflow: hidden; font-size:14px; background:white;}
.acc_container h3 { font: 2.5em normal Georgia, "Times New Roman", Times, serif; margin: 0 0 10px; padding: 0 0 5px 0; border-bottom: 1px dashed #ccc;}
.acc_container img { float: left; margin: 10px 15px 15px 0; padding: 5px; background: #ddd; border: 1px solid #ccc; }
.block a { color:#008ec3; }
.block li {list-style-type:none;}
.block a:hover {text-decoration:underline;}
 /* End menu */
 
.ashpo_lat {
margin:10px 0;    
}
  
  /*Reorder List*/
    .dragHandle { width:10px; height:15px; background-color:Blue; background-image:url(../../Images/bg-menu-main.png); cursor:move; border:outset thin white; }
    .callbackStyle { border:thin blue inset; }
    .callbackStyle table { background-color:#5377A9; color:Black; }
    .reorderListDemo li { list-style:none; margin:2px; background-image:url(../../Images/bg_nav.gif); background-repeat:repeat-x; color:#FFF;}
    .dragVisualContainer li  { list-style:none; background-image:url(../../Images/bg_nav.gif); background-repeat:repeat-x; color:#FFF; }
    .reorderListDemo li a {color:#FFF !important; font-weight:bold;}
    .reorderCue { border:dashed thin black; width:100%; height:25px; }
    .itemArea { margin-left:15px; font-family:Arial, Verdana, sans-serif; font-size:1em; text-align:left; } 
   /* End Recorder List */
   
.header {
height:168px;
background:url(../../images/blue_bg.png) repeat-x;
}

.logo_anchor {
display:block;
width:395px;
height:98px;
background:url(../../images/logo_admin.jpg) no-repeat center 37px;
margin:0 auto;
padding:37px 0 0 0;
}

.Admin_Login {
width:353px;
margin:35px auto;
}

.top_loged {
width:353px;
height:5px;
background:url(../../images/top_log_plank.png) no-repeat left top;
}

.bot_loged {
width:353px;
height:5px;
background:url(../../images/bot_log_plank.png) no-repeat left top;
}

.mid_loged {
width:343px;
padding:5px;
background:url(../../images/mid_log_plank.png) repeat-y left top;
} .mid_loged p {
        padding:4px 0;
        } .mid_loged span.spn_spec {
            display:inline-block;
            width:95px;
            vertical-align:middle;
            text-align:right;
            padding:0 5px 0 0;
            } .mid_loged input[type="text"] {
                    vertical-align:middle;
                    border:solid #aaadb2 1px;
                    width:200px;
                    } .mid_loged input[type="password"] {
                            vertical-align:middle;
                            border:solid #aaadb2 1px;
                            width:200px;
                            }
                            
.universal_button {
height:22px;
display:inline-block;
vertical-align:top;
padding:0 0 0 10px;
background:url(../../images/left_btnangleb.png) no-repeat left top;
} .universal_button span {
        display:inline-block;
        vertical-align:top;
        padding:0 10px 0 0;
        background:url(../../images/right_btnangleb.png) no-repeat right top;
        } .universal_button span a {
                display:inline-block;
                vertical-align:top;
                color:White;
                padding:1px 15px 0 15px;
                height:21px;
                background:url(../../images/mid_btnangleb.png) repeat-x left top;
                font-size:14px;
                text-align:center;
                text-decoration:none;
                }

.BCCategories {
padding:10px 15px;
color:#008ec3;    
} .BCCategories a {color:#008ec3; margin:0 5px 0 0;}
    .BCCategories a:hover {text-decoration:none;}
    
.pader_category {
padding:0 0 0 15px;    
}

.top_repeater {
width:728px;
height:5px;
background:url(../../images/table_toper.png) no-repeat;
}

.bot_repeater {
width:728px;
height:5px;
background:url(../../images/table_boter.png) no-repeat;
}

.mid_repeater {
width:724px;
padding:5px 2px;
background:url(../../images/table_toperwhite.png) repeat-y;
}

.mid_repeatergrey {
width:724px;
padding:5px 2px;
background:url(../../images/table_topergrey.png) repeat-y;
}

.cat_h3 {
font-size:14px;
color:#151515;
font-weight:bold;
font-style:italic;
text-transform:uppercase;
padding:0 10px 5px;
}

.repparaq {border-bottom:solid #c7c7c7 1px; padding:3px 10px;}
    .second {background:#f6f6f6;}

.repparaq span {
display:inline-block;
vertical-align:middle;
} .repparaq span a {color:#232323;}
    .repparaq span a:hover {text-decoration:none;}

.cat_span01 {
width:380px;
}

.cat_span02 {
width:110px;    
}

.cat_span03 {
width:125px;    
}

.cat_span04 {
width:75px;
text-align:center;
}

.cat_span06 {
width:490px;
}

.cat_span07 {
width:100px;
text-align:center;
}

.cat_span05 {
width:540px;
}

.prod_span01 {
width:270px;
}

.prod_span02 {
width:50px;
text-align:center;
}

.prod_span03 {
width:85px;
text-align:center;
}

.prod_span04 {
width:65px;
text-align:center;
}

.prod_span05 {
width:75px;
text-align:center;
}

.edit_ico {
width:14px;
height:13px;
background:url(../../images/edit_btn.png) no-repeat;
display:inline-block;
margin:0 2px;
text-decoration:none;
border:none;
}

.photo_ico {
width:16px;
height:16px;
background:url(../../images/photo_ico.png) no-repeat;
display:inline-block;
margin:0 2px;
text-decoration:none;
border:none;
}

.delete_ico {
width:14px;
height:13px;
background:url(../../images/delete_btn.png) no-repeat;
display:inline-block;
margin:0 2px;
text-decoration:none;
border:none;
}

.view_ico {
width:16px;
height:13px;
background:url(../../images/view_btn.png) no-repeat;
display:inline-block;
margin:0 2px;
text-decoration:none;
border:none;
}

.Paging {
text-align:center;
padding:5px 0;
width:728px;    
} .Paging a {
    color:#008EC3;
    margin:0 2px;
    } .NavigateLastPage a {text-decoration:none;}
        .Paging a:hover {text-decoration:none;}
    
.view_span {
vertical-align:middle;
display:inline-block;
padding:2px 0 0 25px;
height:23px;
background:url(../../images/view_site.jpg) no-repeat;
}

.exit_span {
vertical-align:middle;
display:inline-block;
padding:2px 0 0 25px;
height:23px;
background:url(../../images/log_out.jpg) no-repeat;
}

.line_style span {
display:inline-block;
vertical-align:middle;
} .line_style input {vertical-align:middle; display:inline-block; padding:0 5px; width:200px; border:solid #aaadb2 1px; margin-right:20px;}
    .line_style p {padding:5px 0 10px;}

.blue_yanc {color:#008ec3 !important;}