<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    </configSections>
    <connectionStrings>
        <add name="BL.Properties.Settings.MarvelDBConnectionString" connectionString="Data Source=ITCOMP\TEST;Initial Catalog=MarvelDB;Persist Security Info=True;User ID=sa;Password=yefim"
            providerName="System.Data.SqlClient" />
        <add name="BL.Properties.Settings.MarvelDBConnectionString1"
            connectionString="Data Source=RUSLANPC\SQLEXPRESS;Initial Catalog=MarvelDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>